body {
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin: 4rem;
  img {
    max-width: 100%;
    height: 10rem;
  }
}
