body {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.container {
  background-color: rgba(255, 255, 255, 0.247);
  max-width: 40vw;
  border-radius: 5rem;
}

button {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  transition: 1s ease-in-out all;
  &:hover {
    background-image: linear-gradient(20deg, #21d4fd 0%, #b721ff 100%);
  }
}
